<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="footer" class="mt-5 mb-5">
    <div class="container">
        <hr/>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link link-underline-opacity-25 link-underline-opacity-100-hover"
                   aria-current="page" href="#" th:text="#{footer.nav_item.imprint}">Imprint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-underline-opacity-25 link-underline-opacity-100-hover" href="#"
                   th:text="#{footer.nav_item.data_privacy}">Privacy Policy</a>
            </li>
            <li class="nav-item me-auto">
                <a class="nav-link link-underline-opacity-25 link-underline-opacity-100-hover"
                   href="/attributions" th:text="#{footer.nav_item.attributions}">Attributions</a>
            </li>
            <li class="nav-item">
                <a target="_blank"
                   class="nav-link link-underline-opacity-25 link-underline-opacity-100-hover"
                   href="https://project-cinemap-cinemap-5d1b48b7ec8e254fcb51fc55e83bfc6f1eda98a.gitlab.io/"
                   data-bs-toggle="tooltip"
                   th:data-bs-title="#{footer.nav_item.documentation.helper}"><i
                        class="bi bi-book-fill"></i></a>
            </li>
            <li class="nav-item">
                <a target="_blank"
                   class="nav-link link-underline-opacity-25 link-underline-opacity-100-hover"
                   href="https://gitlab.com/cinemap"
                   data-bs-toggle="tooltip"
                   th:data-bs-title="#{footer.nav_item.gitlab.helper}"><i class="bi bi-gitlab"></i></a>
            </li>
        </ul>
    </div>
</footer>
</body>

</html>