<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="scene_movie_sidebar (posterUrl, title, releaseYear, tagline, overview)">
    <div class="card shadow bg-body-tertiary rounded">
        <div th:if="${posterUrl != null}">
            <img th:src="${posterUrl}"
                 class="img-fluid rounded-top"
                 alt="Movie poster">
        </div>
        <div th:if="${posterUrl == null}">
            <img th:src="@{/images/movie_fallback_poster.jpg}"
                 class="img-fluid rounded-top"
                 alt="Movie poster">
        </div>
        <div class="card-body">
            <h5 class="card-title"><span
                    th:text="*{!title.isBlank()} ? *{title} : #{movies_list.poster_card.fallback_text.title}"> Title </span>
            </h5>
            <p class="card-text"><small
                    class="text-body-secondary"><span
                    th:text="*{releaseYear != null} ? *{releaseYear} : #{movies_list.poster_card.fallback_text.release_year}"> Release Year </span></small>
            </p>
            <div th:if="${tagline != null && !tagline.isBlank()}">
                <p class="card-text multi-line-truncate"><span
                        th:text="*{!tagline.isBlank()} ? *{tagline} : #{movies_list.poster_card.fallback_text.tagline}"> Tagline </span>
                </p>
            </div>
        </div>
        <div class="card-footer">
            <div th:text="${overview}" class="text-start fw-lighter mt-4">
                Overview
            </div>
        </div>
    </div>
</div>

</body>

</html>