<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<div th:replace="~{fragments/head :: head (title='Cinemap Repository UI - ' + #{attributions.meta.page.title})}"></div>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="row mt-5">
        <h1><span th:text="#{attributions.heading}"></span></h1>
    </div>
    <div class="row mt-5">
        <span><i class="bi bi-hand-thumbs-up-fill"></i> <span
                th:text="#{attributions.about_page_text}">About text</span></span>
    </div>
    <div class="row mt-5 text-center">
        <div class="col col-sm-6 col-lg-3">
            <a href="https://www.themoviedb.org" target="_blank">
                <img th:src="@{/images/tmdb_logo.svg}" class="img-fluid"
                     alt="TMDB logo"></a>
        </div>
        <div class="col col-sm-6 col-lg-3">
            <a href="https://pixabay.com" target="_blank">
                <img th:src="@{/images/pixabay.png}" class="img-fluid"
                     alt="Pixabay logo"></a>
        </div>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>