<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<div th:replace="~{fragments/head :: head (title='Cinemap Repository UI - ' + ${errorTitle})}"></div>
<body>

<div class="container align-items-center text-center">
    <div class="row mt-5 text-center text-capitalize">
        <h1 th:text="${errorTitle}">Title</h1>
    </div>
    <div class="row mt-5 text-center">
        <span><i class="bi bi-emoji-surprise-fill"></i> <span class="text-center lead"
                                                              th:text="${errorExplanation}">Explanation</span></span>
    </div>
    <div class="row mt-5 text-center">
        <figure>
            <blockquote class="blockquote">
                <p th:text="${errorQuoteText}">Quote</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <span th:text="${errorQuotePerson}">Person</span> <cite
                    th:text="${errorQuoteMovie}" th:title="${errorQuoteMovie}">Movie</cite>
            </figcaption>
        </figure>
    </div>
    <div th:if="${stagingEnvironment.equals('development')}" class="row mt-5 text-start">
        <p th:text="${errorMessage}" class="font-monospace"></p>
        <p th:text="${errorException}" class="font-monospace"></p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>