<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<div th:replace="~{fragments/head :: head (title='Cinemap Repository UI')}"></div>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:if="${toast_state != null}">
    <div class="toast-container position-static top-0 end-0 z-3 position-absolute mt-5 mx-4">
        <div th:each="toast : ${toast_state}" class="mt-3">
            <div th:switch="${toast}">
                <div th:case="${T(de.dittwald.cinemap.repositoryui.config.ToastStates).ERROR_MOVIE_RETRIEVAL.name}">
                    <div th:replace="~{fragments/toast :: toast (toastStyle='text-bg-danger', title=#{toast.error.retrieve.movies.title}, message=#{toast.error.retrieve.movies.text})}"></div>
                </div>
                <div th:case="${T(de.dittwald.cinemap.repositoryui.config.ToastStates).ERROR_SCENE_RETRIEVAL.name}">
                    <div th:replace="~{fragments/toast :: toast (toastStyle='text-bg-danger', title=#{toast.error.retrieve.scenes.title}, message=#{toast.error.retrieve.scenes.text})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
    <div class="row mt-5">
        <div class="col col-md-7 mb-3 h-100">
            <div class="row">
                <div class="col">
                    <h1 th:text="#{index.heading.welcome_on_cinemap_repository}">Title</h1>
                    <p th:text="#{index.paragraph.welcome_on_cinemap_repository}"></p>
                    <p><a class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover"
                          th:text="#{index.link.text.to_movies}" href="/movies"></a></p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6 mb-3">
                    <div th:if="${moviesCount != null}" class="card shadow bg-body-tertiary rounded h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <small class="text-body-secondary" th:text="#{index.card.movies}">Movies</small>
                                </div>
                                <div class="col">
                                    <p class="display-1 text-end text-truncate" th:text="${moviesCount}">Count Movies</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 mb-3">
                    <div th:if="${scenesCount != null}" class="card shadow bg-body-tertiary rounded h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <small class="text-body-secondary" th:text="#{index.card.scenes}">Scenes</small>
                                </div>
                                <div class="col">
                                    <p class="display-1 text-end text-truncate" th:text="${scenesCount}">Scenes Count</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 h-100">
            <img th:src="@{/images/scene.svg}" class="img-fluid"
                 alt="Welcome poster - movie">
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>