<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<div th:if="${operation.equals('edit')}" th:replace="~{fragments/head :: head (title='Cinemap Repository UI - ' + #{scene_form.meta.page.title.edit})}"></div>
<div th:if="${operation.equals('add')}" th:replace="~{fragments/head :: head (title='Cinemap Repository UI - ' + #{scene_form.meta.page.title.add})}"></div>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Toasts for added films -->
<div th:if="${toast_state != null && operation.equals('add')}">
    <div class="toast-container position-static top-0 end-0 z-3 position-absolute mt-4 mx-4">
        <div th:each="toast : ${toast_state}" class="mb-2">
            <div th:switch="${toast}">
                <div th:case="${T(de.dittwald.cinemap.repositoryui.config.ToastStates).ERROR_SCENE_ADD.name}">
                    <div th:replace="~{fragments/toast :: toast (toastStyle='text-bg-danger', title=#{toast.error.add.scene.title}, message=#{toast.error.add.scene.text})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toasts for edited films -->
<div th:if="${toast_state != null && operation.equals('edit')}">
    <div class="toast-container position-static top-0 end-0 z-3 position-absolute mt-4 mx-4">
        <div th:each="toast : ${toast_state}" class="mb-2">
            <div th:switch="${toast}">
                <div th:case="${T(de.dittwald.cinemap.repositoryui.config.ToastStates).ERROR_SCENE_UPDATE.name}">
                    <div th:replace="~{fragments/toast :: toast (toastStyle='text-bg-danger', title=#{toast.error.update.scene.title}, message=#{toast.error.update.scene.text})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover" href="/"
                        th:text="#{breadcrumb.home}">Home</a></li>
                <li class="breadcrumb-item"><a
                        class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover" href="/movies"
                        th:text="#{breadcrumb.movies}">Movies</a></li>
                <li class="breadcrumb-item"><a
                        class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover"
                        th:href="'/movies/' + ${movie.uuid} + '/scenes'"
                        th:text="${movie.title}">Movie
                    title</a></li>
                <li th:if="${operation.equals('edit')}" class="breadcrumb-item active" aria-current="page"
                    th:text="${scene.title}">Scene edit
                </li>
                <li th:if="${operation.equals('add')}" class="breadcrumb-item active" aria-current="page"
                    th:text="#{breadcrumb.add_scene}">Add scene
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <h1 th:if="${operation.equals('edit')}"><span th:text="#{scene_form.heading.edit_scene}">Edit scene</span></h1>
        <h1 th:if="${operation.equals('add')}"><span th:text="#{scene_form.heading.add_scene}">Add scene</span></h1>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-3 align-items-start text-center">
            <div th:replace="~{fragments/scene_movie_sidebar :: scene_movie_sidebar (posterUrl=${movie.posterUrl}, title=${movie.title}, releaseYear=${movie.releaseYear}, tagline=${movie.tagline}, overview=${movie.overview})}"></div>
        </div>

        <div class="col-sm-12 col-md-9">
            <form class="mt-3 mb-5"
                  th:action="@{/movies/{movieUuid}/scenes/{operation}(movieUuid=${movie.uuid}, operation=${operation})}"
                  th:object="${scene}"
                  method="post">
                <div class="d-none">
                    <input type="text" aria-label="input-uuid" th:field="*{uuid}">
                    <input type="text" aria-label="input-locale" th:field="*{locale}">
                </div>
                <div class="row g-3">
                    <div class="col-10">
                        <label for="input-scene-title" class="form-label"
                               th:text="#{scene_form.form.input.label.title}"></label>
                        <input id="input-scene-title" type="text" class="form-control" th:field="*{title}"
                               aria-label="title"
                               aria-describedby="input-scene-title"
                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            Invalid
                        </div>
                    </div>
                    <div class="col-sm-10 col-lg-5">
                        <label for="input-scene-lon" class="form-label"
                               th:text="#{scene_form.form.input.label.lon}"></label>
                        <input id="input-scene-lon" type="text" aria-label="input-lon" class="form-control"
                               th:field="*{lon}" th:classappend="${#fields.hasErrors('lon')} ? 'is-invalid' : ''">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lon')}" th:errors="*{lon}">Invalid
                        </div>
                    </div>
                    <div class="col-sm-10 col-lg-5">
                        <label for="input-scene-lat" class="form-label"
                               th:text="#{scene_form.form.input.label.lat}"></label>
                        <input id="input-scene-lat" type="text" aria-label="input-lat" class="form-control"
                               th:field="*{lat}" th:classappend="${#fields.hasErrors('lat')} ? 'is-invalid' : ''">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lat')}" th:errors="*{lat}">Invalid
                        </div>
                    </div>
                    <div class="col-10">
                        <label for="textarea-scene-description" class="form-label"
                               th:text="#{scene_form.form.input.label.description}"></label>
                        <textarea id="textarea-scene-description" class="form-control" aria-label="description"
                                  th:field="*{description}"
                                  th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}"
                             th:errors="*{description}">Invalid
                        </div>
                    </div>
                    <div class="col-12">
                        <a th:href="'/movies/' + ${movie.uuid} + '/scenes'" class="btn btn-secondary"
                           th:text="#{common.button.label.cancel}">Cancel
                        </a>
                        <button th:if="${operation.equals('edit')}" type="submit" class="btn btn-primary mx-2"
                                id="edit-scene-submit"><span
                                th:text="#{scene_form.form.button.edit_scene}"></span></button>
                        <button th:if="${operation.equals('add')}" type="submit" class="btn btn-primary mx-2"
                                id="add-scene-submit"><span
                                th:text="#{scene_form.form.button.add_scene}"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>